
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    #trangchidamin{
        text-align:center;
        color:red
    }
</style>
<h2 id="trangchidamin">ADMIN</h2>
