@model IEnumerable<QL_Tour_Du_Lich.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}
<style>
    #hinh_tour{
        width:500px;
        height:250px;
    }
    .chuc_nang{
        
    }
</style>
<div class="container">
    <div class="row">
        @*Lọc theo các mức giá*@
        <div class="col-md-3">
            <table class="table">
                <tr>
                    <th><h2>Mức giá</h2></th>
                </tr>
                <tr>
                    <td>
                        <a href="#">Từ 2tr đến 3tr500</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Từ 3tr500 đến 5tr</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Từ 5tr đến 6tr500</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Từ 6tr500 đến 8tr</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Trên 8tr</a>
                    </td>
                </tr>
            </table>
        </div>
        @*Hiển thị danh sách tour hiện có*@
        <div class="col-md-9">
            <table class="table">
                <tr>
                    <td><h2>Các tour hiện có</h2></td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="col-md-8">
                                <img src="~/Hinh/@Html.DisplayFor(m=>item.Hinh_Anh)" id="hinh_tour" />;
                                <div class="chuc_nang">
                                    @Html.ActionLink("Xem chi tiết", "ChiTietTour", new { id = item.Tour_Id })|
                                    @Html.ActionLink("Đặt tour", "DatTour", new { id = item.Tour_Id })
                                </div>
                            </div>
                            <div class="col-md-4" id="gioi_thieu_ttour">
                                @Html.DisplayFor(m=>item.Gioi_Thieu)
                            </div> 
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

