
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tuade{
        text-align:center;
    }
    #thongbao{
        color:red;
    }
</style>
<h2 id="tuade">Quên mật khẩu</h2>
<hr />
@using (Html.BeginForm("QuenMatKhau", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                Nhập địa chỉ email đã đăng ký: 
            </div>
            <div class="col-md-10">
                <input type="email" name="emailaddress" value=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <h4 id="thongbao">@ViewBag.ThongBao</h4>
                <input type="submit" value="Lấy mật khẩu" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Trở về", "DangNhap")
</div>

