USE [QLTour]
GO
ALTER TABLE [dbo].[Tours] DROP CONSTRAINT [FK_dbo.Tours_dbo.Loai_Tour_Loai_Tour_Id]
GO
ALTER TABLE [dbo].[Tai_Khoan] DROP CONSTRAINT [FK_dbo.Tai_Khoan_dbo.Loai_Nguoi_Dung_Loai_Nguoi_Dung_Id]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] DROP CONSTRAINT [FK_dbo.Chi_Tiet_Hoa_Don_dbo.Tours_Tour_Id]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] DROP CONSTRAINT [DF__Chi_Tiet___Email__6FE99F9F]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] DROP CONSTRAINT [DF__Chi_Tiet___SoLuo__6E01572D]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 7/23/2019 12:00:48 AM ******/
DROP TABLE [dbo].[Tours]
GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 7/23/2019 12:00:48 AM ******/
DROP TABLE [dbo].[Tai_Khoan]
GO
/****** Object:  Table [dbo].[Loai_Tour]    Script Date: 7/23/2019 12:00:48 AM ******/
DROP TABLE [dbo].[Loai_Tour]
GO
/****** Object:  Table [dbo].[Loai_Nguoi_Dung]    Script Date: 7/23/2019 12:00:48 AM ******/
DROP TABLE [dbo].[Loai_Nguoi_Dung]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Hoa_Don]    Script Date: 7/23/2019 12:00:48 AM ******/
DROP TABLE [dbo].[Chi_Tiet_Hoa_Don]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/23/2019 12:00:48 AM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/23/2019 12:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Chi_Tiet_Hoa_Don]    Script Date: 7/23/2019 12:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Hoa_Don](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Khach_Hang] [nvarchar](max) NOT NULL,
	[Ngay_Lap] [datetime] NOT NULL,
	[Tong_Don_Gia] [float] NOT NULL,
	[Tour_Id] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Trang_Thai] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Chi_Tiet_Hoa_Don] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loai_Nguoi_Dung]    Script Date: 7/23/2019 12:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Nguoi_Dung](
	[Loai_Nguoi_Dung_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Loai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Loai_Nguoi_Dung] PRIMARY KEY CLUSTERED 
(
	[Loai_Nguoi_Dung_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loai_Tour]    Script Date: 7/23/2019 12:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Tour](
	[Loai_Tour_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Loai_Tour] [nvarchar](max) NOT NULL,
	[Ghi_Chu] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Loai_Tour] PRIMARY KEY CLUSTERED 
(
	[Loai_Tour_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 7/23/2019 12:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Dang_Nhap] [nvarchar](max) NOT NULL,
	[Mat_Khau] [nvarchar](max) NOT NULL,
	[Loai_Nguoi_Dung_Id] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.Tai_Khoan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tours]    Script Date: 7/23/2019 12:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Tour_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Tour] [nvarchar](max) NOT NULL,
	[Hinh_Anh] [nvarchar](max) NULL,
	[Thoi_Gian_Di] [datetime] NOT NULL,
	[Thoi_Gian_Ve] [datetime] NOT NULL,
	[Lich_Trinh] [nvarchar](max) NOT NULL,
	[Trang_Thai] [nvarchar](max) NOT NULL,
	[So_Luong_Tham_Gia] [int] NOT NULL,
	[So_Luong_Da_Tham_Gia] [int] NOT NULL,
	[Loai_Tour_Id] [int] NOT NULL,
	[Gioi_Thieu] [nvarchar](max) NOT NULL DEFAULT (''),
	[Thanh_Pho] [nvarchar](max) NOT NULL DEFAULT (''),
	[Gia] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Tours] PRIMARY KEY CLUSTERED 
(
	[Tour_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Loai_Nguoi_Dung] ON 

INSERT [dbo].[Loai_Nguoi_Dung] ([Loai_Nguoi_Dung_Id], [Ten_Loai]) VALUES (1, N'Khách hàng')
INSERT [dbo].[Loai_Nguoi_Dung] ([Loai_Nguoi_Dung_Id], [Ten_Loai]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Loai_Nguoi_Dung] OFF
SET IDENTITY_INSERT [dbo].[Loai_Tour] ON 

INSERT [dbo].[Loai_Tour] ([Loai_Tour_Id], [Ten_Loai_Tour], [Ghi_Chu]) VALUES (1, N'Trong nước', NULL)
INSERT [dbo].[Loai_Tour] ([Loai_Tour_Id], [Ten_Loai_Tour], [Ghi_Chu]) VALUES (2, N'Ngoài nước', NULL)
SET IDENTITY_INSERT [dbo].[Loai_Tour] OFF
SET IDENTITY_INSERT [dbo].[Tai_Khoan] ON 

INSERT [dbo].[Tai_Khoan] ([Id], [Ten_Dang_Nhap], [Mat_Khau], [Loai_Nguoi_Dung_Id], [Email]) VALUES (12, N'admin', N'25d55ad283aa400af464c76d713c07ad', 2, N'cuongvo077@gmail.com')
INSERT [dbo].[Tai_Khoan] ([Id], [Ten_Dang_Nhap], [Mat_Khau], [Loai_Nguoi_Dung_Id], [Email]) VALUES (13, N'cuong', N'25d55ad283aa400af464c76d713c07ad', 1, N'vmccuong1997@gmail.com')
SET IDENTITY_INSERT [dbo].[Tai_Khoan] OFF
SET IDENTITY_INSERT [dbo].[Tours] ON 

SET IDENTITY_INSERT [dbo].[Tours] OFF
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Chi_Tiet_Hoa_Don_dbo.Tours_Tour_Id] FOREIGN KEY([Tour_Id])
REFERENCES [dbo].[Tours] ([Tour_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] CHECK CONSTRAINT [FK_dbo.Chi_Tiet_Hoa_Don_dbo.Tours_Tour_Id]
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tai_Khoan_dbo.Loai_Nguoi_Dung_Loai_Nguoi_Dung_Id] FOREIGN KEY([Loai_Nguoi_Dung_Id])
REFERENCES [dbo].[Loai_Nguoi_Dung] ([Loai_Nguoi_Dung_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tai_Khoan] CHECK CONSTRAINT [FK_dbo.Tai_Khoan_dbo.Loai_Nguoi_Dung_Loai_Nguoi_Dung_Id]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tours_dbo.Loai_Tour_Loai_Tour_Id] FOREIGN KEY([Loai_Tour_Id])
REFERENCES [dbo].[Loai_Tour] ([Loai_Tour_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_dbo.Tours_dbo.Loai_Tour_Loai_Tour_Id]
GO
